#admin {
    width: 100vw;
    height: 7vh;
    background-color: lightgreen;
    font-size: 30px;
    color: purple; 
    text-align: center;
}

#welcome {
    text-align: end;
    background-color: aqua;
    font-size: 20px;
}

#admindata {
    display: flex;
    justify-content: space-between;
}



#adminmenu
{
    width: 15%;
    padding: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}
#admincontent
{
    width: 85%;
    padding: 20px;
}