@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

:root {
    --purple1: rgb(158, 46, 244);
    --blue1: rgb(50, 50, 241);
    --font2: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



/*  admin dashboard */

.admindashboard {
    width: 100vw;
    height: 100%;
    background-color: rgb(220, 228, 251);
}

#adminheader {
    display: flex;
    justify-content: space-between;
    margin: 10px 2.5vw;
}

#adminheader .welcome {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

#admin {
    color: var(--blue1);
    font-weight: 800;
}

#admin span {
    color: black
}

.admincontainer {
    display: flex;
    min-height: 90vh;
    width: 95vw;
    /* border: 1px solid red; */
    margin: 2vh auto;
    border-radius: 20px;
}

#adminmenu {
    display: flex;
    flex-direction: column;
    width: 15vw;
    /* border: 1px solid black; */
    padding: 20px;
    /* background-color: var(--blue1); */
    background-color: rgb(125, 125, 255);
}

#adminmenu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    max-width: 180px;
    background-color: #bcd7ff;;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center; 
    font-weight: bold;
}

#admindata {
    width: 100vw;
    /* border: 1px solid red; */
    padding: 20px;
    background: linear-gradient(to bottom, rgb(125, 125, 255) 0%, rgb(167, 223, 246) 50%, lightblue 100%);
}





/*  employee dashboard */

.empdashboard {
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 223, 255);
}

#empheader {
    display: flex;
    justify-content: space-between;
    margin: 10px 2.5vw;
}

#empheader .welcome {
    font-size: 22px;
    font-weight: 600;
    /* border: 1px solid red;  */
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}

#employee {
    color: var(--purple1);
    font-weight: 800;
}

#employee span {
    color: black
}

.empcontainer {
    display: flex;
    min-height: 90vh;
    width: 95vw;
    /* border: 1px solid red; */
    margin: 2vh auto;
    border-radius: 20px;
}

#empmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: var(--purple1);
}

#empmenu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    max-width: 180px;
    background-color: rgb(224 183 255);;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#empdata {
    width: 100vw;
    /* border: 1px solid red; */
    padding: 20px;
    background-color: white;
}


.logout {
    /* border: 1px solid red;  */
    color: red;
    font-size: 20px;
    text-align: end;
    padding-right: 10px;
    font-weight: bold;

}



























/*  */