/*  user employee home page css */

#emphome {
    width: 79vw;
    height: auto;
    /* border: 1px solid rgb(173, 8, 8); */
    height: 80vh;
}

#emphome>p {
    color: "white";
    font-size: 20px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

#emphomecontainer {
    /* border: 1px solid blue; */
    width: auto;
    max-height: 100vh;
    margin: 50px auto;
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    width: 100%;

}

.emphometask {
    width: 300px;
    height: 200px;

    background-color: rgb(189, 116, 245);
    backdrop-filter: blur(10px);

    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    gap: 0px;
    padding-top: 30px;
    /* box-sizing: border-box; */

}

.emphometask:hover {
    background-color: rgb(178, 88, 246);
    color: white;
}

.emphometask:hover p:nth-of-type(3) {
    transform: scale(1.5);
    /* increase size */
    transition: transform 0.3s ease;
}

.emphometask p {

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: var(--font2);
}

#searchtaskbar {
    text-align: end;
}

#searchtaskbar>span {
    font-size: 22px;
    margin-right: 20px;
    font-weight: bold;
}

#searchtask {
    padding: 2px 5px; 
    font-size: 20px;
    border: 1px solid whitesmoke; 
    border-radius: 10px;
    width: 20%;
}

#searchbtn {
    background-color: rgb(208, 208, 208);
    border: 2px solid rgb(155, 155, 155);
    margin-left: 10px;
    padding: 3px 7px;
    font-size: 20px;
    border-radius: 6px;
}

















/*  */