/*  user employee home page css */

#emphome {
    width: 79vw;
    /* border: 1px solid rgb(173, 8, 8); */
    min-height: 85vh;
}

#emphome>p {
    color: "white";
    font-size: 20px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

#emphomecontainer {
    /* border: 1px solid blue; */
    width: auto;
    max-height: 100vh;
    margin: 50px auto;
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    width: 100%;

}

.emphometask {
    width: 300px;
    height: 200px;

    background-color: rgb(189, 116, 245);
    backdrop-filter: blur(10px);

    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    gap: 0px;
    padding-top: 30px;
    /* box-sizing: border-box; */

}

.emphometask p {
    font-family: 'Times New Roman' !important;
}

.emphometask:hover {
    background-color: rgb(178, 88, 246);
    color: white;
}

.emphometask:hover p:nth-of-type(3) {
    transform: scale(1.5);
    /* increase size */
    transition: transform 0.3s ease;
}

.emphometask p {

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: var(--font2);
}

#searchtaskbar {
    text-align: end;
}

#searchtaskbar>span {
    font-size: 22px;
    margin-right: 20px;
    font-weight: bold;
}

#searchtask {
    padding: 2px 5px;
    font-size: 20px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 20%;
}

#searchbtn {
    background-color: rgb(208, 208, 208);
    border: 2px solid rgb(155, 155, 155);
    margin-left: 10px;
    padding: 3px 7px;
    font-size: 20px;
    border-radius: 6px;
}


/*    change password css */

#empsetting {
    width: 79vw;
    border: 1px solid rgb(173, 8, 8);
    min-height: 85vh;
}

#empsetting>h1 {
    padding: 20px 30px;
}

#passform { 
    border: 3px solid rgb(210, 140, 251);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'Times New Roman';
    padding: 3px 10px;
    width: 500px;
    height: 550px;
    margin: 50px auto;
    background-color: white; 
    border-radius: 20px;
    color: rgb(0, 0, 178); 
    position: relative;
}

#passform #passkey {
    width: 100px;
    border-radius: 50%;
    background-color: rgb(64, 64, 249);
    position: relative;
    top: 5px; 
    left: 5vw;
    
}

.passlabel {
    font-size: 22px;
    margin-top: 15px;
}

.passinput {
    border: 1px solid black;
    width: 300px;
    padding: 3px 6px;
    font-size: 20px;
}

#subpass {
    background-color: blue;
    color: white;
    width: 100px;
    padding: 3px 7px; 
    font-size: 22px;
    font-weight: bold; 
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    
}










/*  */