/*  user employee login body */
* {
    margin: 0;
    margin: 0;
    overflow: hidden;
}



.loginbody {
    background-image: url("../assets/bgtm11.jpg");
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}


.form {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 20px 4px;
    border-radius: 10px;
    width: 35vw;
    height: auto;
    padding: 10px 20px;
    position: absolute;
    top: 15vh;
    left: 30vw;
    z-index: inherit;
    background-color: rgb(211, 230, 250);
}

.form img {
    width: 50px;
}

.form #tasky {
    color: blue;
    margin-left: 10px;
}

.form label {
    margin-top: 5px;
}

.form>div {
    margin-bottom: 10px;
}

form h1 {
    font-size: 32px;
    font-weight: 700;
}

.width {
    width: 25vw;
    border-radius: 5px;
}

.btnlog {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 3px 13px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 100px;
    width: 100px; 

}


/*  */