/*   create user form  */

.userbody {
    width: 100%;
    min-height: 100vh;
}

.userbody>h1 {
    margin: 15px;
    font-weight: 700;
    color: rgb(0, 0, 255);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/*            image in user form  */
#frmImg {
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
}

#frmImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#userlogcontain {
    width: 80%;
    max-width: 1100px;
    padding: 10px;
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 100px auto;
    overflow: hidden;
}

/*               user create form */
#userform {
    /* border: 1px solid darkgreen; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 24vw;
    height: 60vh;
    max-width: 500px;
    max-height: none;
    flex: 1;
    padding: 10px 25px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(4, 9, 54, 0.54);
}

#userform h1 {
    margin: 5px;
    text-align: center;
}

.userfrmlabel {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-style: normal;
}

/* .white {
    color: white; /////////////
    background-color: black;
} */

.userfrminput {
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 20px;
}

#usersub {
    background-color: rgb(102, 102, 255);
    color: white;
    font-weight: bold;
    font-family: var(--font1);
    font-size: 25px;
    padding: 5px 15px;
    margin-top: 120px;
    border-radius: 10px;
    width: 120px;
}



@media (max-width: 1200px) {
    #userlogcontain {
        flex-direction: column;
    }

    #userform,
    #frmImg {
        width: 100%;
    }
}





/*  */